// body { 
//   height: 100%;
//   background: url('lgu-test.jpg') no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

.row {
  background: rgba(238,238,238,0.95);
  border-radius: 15px;
}


body {
  background-color: none;
}

h1 h2 h3 h4 { 
  font-family: 'Noto Sans', sans-serif;
 }

